@import "tailwindcss";

body {
  @apply bg-gray-800 text-gray-100;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
